name: ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Go mod tidy check
        run: |
          go mod tidy
          git diff --exit-code
      - name: Build
        run: go build ./...
      - name: Test
        run: go test ./...
